<div class="container-fluid">
  <h4>Seleziona il primo vincolo:</h4>
  <select class="custom-select" [ngModel]="selectedDeviceObj" (ngModelChange)="onChangeObj($event)" name="sel3">
    <option [ngValue]="i" *ngFor="let i of query1">{{ i.id }}) {{ i.descrizione }} {{ i.opzione }}</option>
  </select>
  <br />
  <br />
  <h4>Seleziona il secondo vincolo:</h4>
  <select class="custom-select" [ngModel]="selectedDeviceObj2" (ngModelChange)="onChangeObj2($event)" name="sel3">
    <option [ngValue]="i" *ngFor="let i of query2">{{ i.id }} {{ i.descrizione }} {{ i.opzione }}</option>
  </select>
</div>
