<div class="footer">
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <address>
                <strong>Profilglass S.p.A.</strong><br />
                Via Meda, 28 - 61032 Fano (PU)<br />
                Italy Zona Ind. Bellocchi<br /><br />
                Tel. +39 <strong>0721 8567.11</strong> r.a.<br />
                Fax +39 0721 855520<br />
                Email <a href="mailto:info@profilglass.it">info@profilglass.it</a>
              </address>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
              <div class="menu-menu_footer_1-container">
                <ul id="menu-menu_footer_1" class="menu">
                  <li
                    id="menu-item-163"
                    class="
                      menu-item
                      menu-item-type-post_type
                      menu-item-object-page menu-item-home
                      current-menu-item
                      page_item page-item-6
                      current_page_item
                      menu-item-163
                    "
                  >
                    <a href="https://www.profilglass.it/" aria-current="page">Home</a>
                  </li>
                  <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
                    <a href="https://www.profilglass.it/azienda/">Azienda</a>
                  </li>
                  <li id="menu-item-23878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23878">
                    <a href="https://www.profilglass.it/sostenibilita/">Sostenibilità</a>
                  </li>
                  <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166">
                    <a href="https://www.profilglass.it/processi-produttivi/">Processi produttivi</a>
                  </li>
                  <li id="menu-item-167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167">
                    <a href="https://www.profilglass.it/prodotti/">Prodotti</a>
                  </li>
                  <li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168">
                    <a href="https://www.profilglass.it/blog/">Blog</a>
                  </li>
                  <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165">
                    <a href="https://www.profilglass.it/contatti/">Contatti</a>
                  </li>
                  <li id="menu-item-715" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-715">
                    <a href="https://www.profilglass.it/azienda/condizioni-di-vendita/">Condizioni di vendita</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
              <div class="menu-menu_footer_2-container">
                <ul id="menu-menu_footer_2" class="menu">
                  <li id="menu-item-170" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-170">
                    <a target="_blank" rel="noopener noreferrer" href="https://webmail.profilglass.it/owa/">Exchange</a>
                  </li>
                  <li id="menu-item-172" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-172">
                    <a target="_blank" rel="noopener noreferrer" href="https://217.58.108.180:2020/">Area Consulenti</a>
                  </li>
                  <li id="menu-item-3532" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3532">
                    <a target="_blank" rel="noopener noreferrer" href="https://dipendenti.profilglass.it">Area Dipendenti</a>
                  </li>
                  <li id="menu-item-175" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-175">
                    <a target="_blank" rel="noopener noreferrer" href="http://www.caminoe1a.profilglass.it/">Emissioni in atmosfera</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="postfooter">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="copy">
            © 2021 <strong>Profilglass S.p.A.</strong> Tutti i diritti riservati.&nbsp;
            <a href="https://www.iubenda.com/privacy-policy/8263841" target="_blank">Privacy Policy</a>&nbsp;
            <a href="https://www.iubenda.com/privacy-policy/8263841/cookie-policy" target="_blank">Cookie Policy</a><br />
            <span
              >C.F. e P.IVA 00706270410 - C.C.I.A.A. di Pesaro-Urbino, Iscrizione R.E.A. di Pesaro-Urbino N.88767 - Cap.Soc. Euro
              5.700.000,00 i.v.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
